body {
    display: flex;
    flex-flow: column;
    font-family: Roboto, Aerial, noto-serif;
    margin: 0px;
}

.part-1 {
    display: flex;
    flex-flow: column wrap;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 180px;
    flex-basis: 550px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    color: #E5e7eb;
}

a:link, a:visited {
    text-decoration: none;
    color: #E5e7eb;
}

.top {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.top-left {
    display: flex;
    flex-flow: column wrap;
    Justify-content: center;
    align-items: flex-start;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.secondary-text, .header-links {
    font-size: 18px;
    color: #E5e7eb;
}

.top button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #F9FAF8;
    padding: 5px 30px;
}

.image-holder {
    width: 800px;
    height: 260px;
}

.image-holder img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.part-2 {   
    padding: 10px 180px;
    text-align: center;
    height: 450px;
}

.information-header-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 40px 0px; 
}

.icons-and-texts {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.icon-and-text {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100px;
}

.icons-and-texts img {
    border: 3px solid #3882f6;
    border-radius: 25px;
}

.icon-text {
    font-size: 18px;
    color: #6f7276;
    margin-top: 10px;
}

.part-3 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #E5e7eb;
    padding: 10px 180px;
}

.quote {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    width: 800px;
}
.quote-text {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;
}

.quote-author-text {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
}

.part-4 {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
   height: 300px;
   padding: 10px 180px; 
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    background-color: #3882f6;
    border-style: none;
    border-radius: 10px;
    padding: 40px 160px;
}

.call-to-action-heading {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.call-to-action p {
    margin: 0px;
}

.call-to-action button {
    box-sizing: border-box;
    flex-shrink: 0;
    background-color: #3882f6;
    border: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 20px;
    color: #F9FAF8;
    padding: 5px 30px;
    width: 200px;
}

.footer {
    margin-top: auto;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
/* start doing the 4th part, and maybe think about making the image stay within the container, apply box-sizing: border-box to containers, make the buttons clickable*/