body {
    font-family: Roboto, Aerial, noto-serif;
    margin: 0px;
}


.header-and-top {
    display: flex;
    flex-flow: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 180px;
    height: 550px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    color: #E5e7eb;
}

a:link, a:visited {
    text-decoration: none;
    color: #E5e7eb;
}

.top {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.top-left {
    flex: 1 1 auto;
}

.top button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: #F9FAF8;
    padding: 5px 20px;
}

.image-holder img{
    object-fit: cover;
}

/* give texts classes next time, style the button, remove the H from texts */